   .category {
       @include flex;
       max-width: 800px;
       position: relative;
       margin-top: 20px;

       &__item {
           margin-right: 5px;
           cursor: pointer;
           width: 7em;

           &:hover {
               p {
                   background: $darkblue;
                   color: white;
               }
           }

       }

       &__item-text {
           text-align: center;
           background: $lightblue;
           text-transform: uppercase;
           font-size: 1rem;
           font-weight: 700;
           color: white;
           padding: 5px;
           display: block;
       }
   }