/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');


/*COLORS*/
$darkgreen:#20533C;
$fauxmarine:#61DFA8;
$yellow:#FFC535;
$gray:#625A65;
$lightblue:#01c5c4;
$softblue:#E5FBF5;
$color:#625A65;
$darkblue:#1f3c88;

/*BREAK POINT*/
$tablet-width: 768px;
$desktop-width: 1350px;
$mobile-width: 568px;