.btn {
    text-align: center;
    @include flex;
    width: auto;
    background-color: red;
    border: none;
    padding: 10px 10px;
}



.btn-add {
    @include customButton($yellow, 30px);
    position: absolute;
    bottom: -10%;
    right: 5%;

    .fas {
        color: white;

    }
}

.btn-edit,
.btn-delete,
.btn-save {
    margin: 10px;
    width: 100%;

    .btn-text {
        font-size: 1rem;
        font-weight: 700;

        color: white;
        text-transform: uppercase;
    }

    .icon {
        margin-right: 5px;
        color: white;
    }
}

.btn-edit {
    @include customButton($green, 0px);
}

.btn-delete {
    @include customButton(red, 0px)
}

.btn-save {
    margin-top: 15px;
    @include customButton($lightblue, 5px);
    width: 100%;
}